<footer class="text-center bg-dark text-light pt-1">
  <!--Section-->
  <section class="d-flex justify-content-center justify-content-lg-between p-4">
    <!--Left-->
    <div class="me-5">
      <a href="" class="me-5 text-light">
        <fa-icon [icon]="['fab' , 'facebook']" transform="shrink--15"></fa-icon>
      </a>
      <a href="" class="me-5 text-light">
        <fa-icon [icon]= "['fab' ,'instagram']" transform="shrink--15"></fa-icon>
      </a>
      <a href="" class="me-5 text-light">
        <fa-icon [icon] = "['fab', 'twitter']" transform="shrink--15"></fa-icon>
      </a>
      <a href="" class="me-5 text-light">
      <fa-icon [icon] = "['fab', 'linkedin']" transform="shrink--15"></fa-icon>
      </a>
    </div>
    <!--Left-->

    <!--Right-->
    <div id="copyrights">
      <span>&copy; 2021 Copyright - </span>
      <a href="" class="text-decoration-none">Brainstorm</a>
    </div>
    <!--Right-->
  </section>
  <!--Section-->
  </footer>
