<div class="container-fluid" id="painel-cadastro">
  <!-- Inicio Row-->
  <div class="row justify-content-center">
    <div class="col-4 me-5">
      <!--Inicio Card 1-->
      <div class="card">
        <img src="../../assets/pexels-christina-morillo-1181398.jpg">
        <div class="card-body">
          <h5 class="card-title">Seja um Professor</h5>
          <h6 class="card-title">Domina algum tema e gostaria de ensinar outras pessoas?</h6>
          <p class="card-text">Seja um Brainstormer! Faça já seu cadastro e difunda o conhecimento pelo mundo!</p>
          <a href="" class="btn btn-outline-success">Cadastrar-se</a>
        </div>
      </div>
      <!--Fim Card 1-->
    </div>

    <div class="col-4">
      <!--Inicio Card 2-->
      <div class="card">
        <img src="../../assets/pexels-rodnae-productions-7683624.jpg">
        <div class="card-body">
          <h5 class="card-title">Seja um Aluno</h5>
          <h6 class="card-title">Sempre está buscando aprender novos temas e assuntos?</h6>
          <p class="card-text">Seja um Brainstormer! Faça já seu cadastro e construa o futuro!</p>
          <a href="" class="btn btn-outline-success">Cadastrar-se</a>
        </div>
      </div>
      <!--Fim Card 2-->
    </div>
  </div>
  <!--Fim Row-->
</div>
