<div class="container mt-4">
  <!--Card 1-->
  <div class="card mb-3 bg-light" *ngFor="let course of readData">
    <div class="row g-0">
      <div class="col-5 imagem-curso d-sm-none d-md-block">
        <img src="{{course.image}}" class="img-fluid rounded-start">
        <div class="titulo-curso">
          <h5 class="card-title text-light">{{course.name}}</h5>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="card-body">
          <h5 class="card-title">{{course.name}}</h5>
          <p class="card-text">{{course.description}}</p>
          <a routerLink="/curso-especifico" class="btn btn-info">Ver aulas</a>
        </div>
      </div>
    </div>
  </div>
  <!--Card 1-->

</div>
