
<!--Painel-->
<div id="painel-quem-somos" >
  <div class="row">
    <div class="col align-self-center px-5">
      <h1 class="display-3" id="titulo-principal">O que fazemos?</h1>
      <h4 class="mb-3">A Brainstorm acredita no poder transformador da <span id="destaque">EDUCAÇÃO!</span> </h4>
      <p class="conteudo">Sabemos que a pandemia aumentou consideralmente as taxas de desemprego do país. Diante disso, a Brainstorm surgiu com o objetivo de oferecer conteúdos educativos de forma totalmente gratuita. Através do conhecimento podemos alcançar nossos sonhos, então bora começar HOJE a transformar sua realidade?</p>
      <p class="conteudo">A nossa plataforma de ensino proporciona acesso aos mais diversos conteúdos com aulas gravadas e ao-vivo. Todo esse conteúdo disponível quando quiser!</p>
    </div>
    <div class="col d-sm-none d-md-block">
      <img src="../../assets/pexels-andrea-piacquadio-927022.jpg" class="imagem-sobre">
    </div>
  </div>
</div>
<!--Painel-->
