<div class="container col-5">

  <div class="text-center mt-4">
    <h4>Faça seu cadastro e comece a aprender!</h4>
  </div>

  <hr>

  <form [formGroup]="userForm">

    <div class="form-group">
      <label>Nome</label>
      <input type="text" class="form-control" placeholder="Digite seu nome" formControlName="name">
    </div>

    <div class="form-group mt-2">
      <label>RG</label>
      <input type="number" class="form-control" placeholder="Digite seu RG" formControlName="RG">
    </div>

    <div class="form-group mt-2">
      <label>CPF</label>
      <input type="number" class="form-control" placeholder="Digite seu CPF" formControlName="CPF">
    </div>

    <div class="form-group mt-2">
      <label>Email</label>
      <input type="email" class="form-control" placeholder="Digite seu email" formControlName="email">

    </div>

    <div class="form-group my-2">
      <label>Senha</label>
      <input type="password" class="form-control" placeholder="Digite sua senha a ser criada" formControlName="password">
    </div>

    <div class="form-group my-2">
      <label>Identificador</label>
      <input type="text" class="form-control" placeholder="Digite sua senha a ser criada" formControlName="role">
    </div>

    <div class="form-group my-2">
      <label>Tipo</label>
      <input type="number" class="form-control" placeholder="Digite sua senha a ser criada" formControlName="type">
    </div>

    <button class="btn btn-primary my-3" (click)= 'userSubmit()'>Cadastrar</button>

  </form>




</div>
