<div class="container col-4" id="formulario-educador">

  <div class="text-center mt-4">
    <h4>Inscreva-se e seja mais um Brainstormer!</h4>
  </div>

  <hr>

  <form>

    <div class="form-group">
      <label for="usuario">Usuário</label>
      <input class="form-control" type="text" id="usuario" placeholder="Nome Completo">
    </div>

    <div class="form-group mt-2">
      <label for="email">Email</label>
      <input class="form-control" type="email" id="email" placeholder="Digite seu email">
    </div>

    <div class="form-group mt-2">
      <label for="senha">Senha</label>
      <input class="form-control" type="password" id="senha" placeholder="Digite sua senha">
    </div>

    <div class="form-group mt-3">
      <label for="temas"> Sobre qual tema pretende ensinar?</label>
      <select id="temas">
          <option>Desenvolvimento</option>
          <option>Finanças e Contabilidade</option>
          <option>Marketing</option>
          <option>Saúde e bem-estar</option>
      </select>
    </div>

    <button class="btn btn-primary my-3">Cadastre-se</button>
    </form>
    <span>Já tem uma conta?</span>&nbsp;
    <a href="">Fazer login</a>

</div>
