<div class="container my-4">
  <!--Row 1-->
  <div class="row align-items-center" *ngFor="let data of readData">
    <div class="col-md-6 col-sm-12 imagem-curso-especifico">
      <img src="{{data.image}}" class="rounded">
      <div class="titulo-curso-especifico">
        <h5 class="text-light">{{data.name}}</h5>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-sm-3">
      <h4>Sobre este curso:</h4>
      <p>{{data.description}}</p>

    </div>
  </div>
  <!--Row 1-->

  <hr>

    <h4>Aulas:</h4>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item" *ngFor="let class of classes">
        <a href="{{class.link}}" target="_blank">{{class.name}}</a>
      </li>

    </ol>

</div>
