<div class="container">
  <div class="row">
    <h1 class="col-12 display-1 text-center mt-5" id="header-principal">A Educação muda o mundo</h1>
  </div>
</div>

<div id="conteudo1" class="bg-dark">
  <div class="container">
    <div class="row">

        <img src="../../assets/pexels-startup-stock-photos-7102.jpg" class="col-6 pt-4 align-self-center" id="imagem-painel1">


        <h4 class="display-6 text-light pt-5 col-6 align-self-center" id="header-secundario">A Brainstorm oferece cursos online gratuitos para que você alcance seus objetivos e construa seu futuro</h4>


    </div>
  </div>
</div>


  <div class="container" >
    <div class="row ">
      <h1 class="col-6 display-6 text-dark pt-5 mt-5 mb-5 align-self-center" id="header-terciario">Tenha acesso a aulas ao-vivo ou gravadas. Todo esse conteúdo disponível quando quiser!</h1>
      <img src="../../assets/computer-gc3aef550b_640.jpg" class="col-6 pt-5 mt-5 mb-5" id="imagem-painel2">
    </div>
  </div>




