<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand mx-5 my-1" routerLink="">
      <fa-icon [icon]="['fas','brain']" transform="shrink--25"></fa-icon>
      &nbsp;&nbsp;&nbsp;&nbsp; <span id="nome-marca">Brainstorm</span>
    </a>
    <button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navegacao">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-start" id="navegacao">
      <ul class="navbar-nav">
          <li class="nav-item mx-5">
            <a class="nav-link" routerLink="/sobre">Sobre</a>
          </li>
          <li class="nav-item dropdown mx-5">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cursos</a>
            <ul class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/categoria-curso/1">Programação</a></li>
              <li><a class="dropdown-item" href="#">Finanças e Contabilidade</a></li>
              <li><a class="dropdown-item" href="#">Saúde e Bem-Estar</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/cursos">Todos os cursos</a></li>
            </ul>
          </li>
          <li class="nav-item mx-5">
            <a class="nav-link" routerLink="/cadastro">Cadastro</a>
          </li>
          <li class="nav-item mx-5" *ngIf="auth == true">
            <a class="nav-link" routerLink="/cadastro">Meu Usuário</a>
          </li>
      </ul>
      <button class="btn btn-primary mx-5" *ngIf="auth == false" routerLink="/login">Login</button>


      <div class="ng-autocomplete d-flex" id="pesquisa">
        <ng-autocomplete
          [data]="data"
          [searchKeyword]="keyword"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
          class="me-2">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item >
        <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
          </ng-template>
        <button class="btn btn-outline-info" type="submit">Pesquisar</button>
      </div>
    </div>
</nav>

